body{
    margin: 0;
    padding: 0;
}

.content-container{
    background: linear-gradient(to left, rgb(204, 0, 255), rgb(117, 25, 223), rgb(200, 170, 235));
    animation: movingBg 10s ease infinite;
    background-size: 350%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.3rem;
}

.content-container h1{
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: white;
    letter-spacing: 2px;
}

@keyframes movingBg{
    0%{
        background-position: 0% 0%;
    }
    25%{
        background-position: 0% 25%;
    }
    50%{
        background-position: 100% 50%;
    }
    70%{
        background-position: 50% 70%;
    }
    100%{
        background-position: 0% 0%;
    }
}


.canvas-container{
    display: grid;
    background-color: white;
    width: 1400px;
    height: 600px;
    border: none;
    border-radius: 5px;
}

/* switching the cursor to a brush photo when hovering on the canvas */

.canvas-container:hover{
    cursor: url(assets/paint-brush.png), auto;
}

button{
    border: none;
    padding: 0 3rem;
    font-size: 1.4rem;
    font-family: 'Questrial', sans-serif;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.buttons-container{
    display: flex;
    width: 1400px;
    justify-content: space-evenly;
}

.black:hover{
    background-color: black;
    color: white;
    transition: 0.2s cubic-bezier(0, 0, 0.64, -0.3);
}

.randomclrs:hover{
    background: linear-gradient(0.63turn, rgb(234, 0, 255), orange, darkcyan, brown);
    color: rgb(255, 255, 255);
    transition: 0.2s cubic-bezier(0, 0, 0.64, -0.05 );
}

.picker:hover{
    background: linear-gradient(0.32turn, rgb(234, 0, 255), rgb(0, 89, 255), darkcyan, brown);
    color: rgb(255, 255, 255);
    transition: 0.2s cubic-bezier(0, 0, 0.64, -0.1);
}

.picker input{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: black;
}

.erase:hover{
    background-color: black;
    color: white;
    transition: 0.2s cubic-bezier(0, 0, 0.64, -0.3);
}

.reset:hover{
    background-color: rgb(117, 25, 223);
    color: rgb(255, 255, 255);
    transition: 0.2s cubic-bezier(0, 0, 0.64, -0.1);
}

.canvas-squares{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    letter-spacing: 1px;
}

.canvas-squares h1{
    font-size: 1.4rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    color: white;
}

input[type="range" i]{
    -webkit-appearance: none;
    background-color: #db339b;
    border-radius: 10px;
}

.canvas-squares output{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
}

.warning-message{
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 1.3px;
    font-size: 1.5rem;
}

.mode{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    border: 2px solid transparent;
}

.mode h1{
    color: white;
    height: 20px;
}